:root {
  --body-bg-color: #00e1ffaf;
  --player-gameboard-bg-color: #2fff0053;
  --computer-gameboard-bg-color: #95bfc668;
}

#root,
#__next {
  isolation: isolate;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--body-bg-color);
  max-width: 550px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
footer {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  margin-top: 5rem;
}

/* Helpers */

.rotate-90-deg {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.hidden {
  display: none !important;
}

.gameboards-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .game-board {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .turn {
    scale: 120%;
  }

  .player-game-board {
    background-color: var(--player-gameboard-bg-color);
  }

  .computer-game-board {
    background-color: var(--computer-gameboard-bg-color);

    & .block {
      background-color: var(--computer-gameboard-bg-color);
      cursor: crosshair;
    }
  }

  .block {
    width: 20px;
    height: 20px;
    border: 1px solid;
    box-sizing: border-box;
  }
}

.empty {
  background-color: black !important;
  cursor: not-allowed;
}

.boom {
  background-color: red !important;

  img {
    height: 20px;
    width: 20px;
    cursor: not-allowed;
  }
}

.valid-highlight {
  background-color: green !important;
}

.invalid-highlight {
  background-color: red !important;
}

.options-container {
  margin: 3rem auto 0 2rem;
  display: flex;
  align-items: center;
  scale: 120%;

  .option {
    cursor: pointer;
  }
}

.destroyer {
  background-color: brown;
}

.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine {
  background-color: yellow;
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser {
  background-color: purple;
}

.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship {
  background-color: orange;
}

.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier {
  background-color: navy;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}

.player-game-board .taken {
  border: 0 !important;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .btn {
    cursor: pointer;
    padding: 0.5rem;
    height: 4rem;
    width: 40%;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;

    &.flip {
      background-color: orange;
    }

    &.start {
      background-color: crimson;
    }

    &.restart {
      background-color: chartreuse;
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 500;

  a {
    color: black;
    font-weight: bold;
  }
}
