body {
    background-image: url(./assets/The-Terminator-Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    object-fit: cover;
}

a {
    color: white;
    text-decoration:underline;
}

footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    color: white;
}

